body {
  background-color:whitesmoke;
}

#quote-box {
  border: 3px solid green;
  text-align: center;
  padding: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#author {
  margin-left: 15vw;
}

.buttons {
  display: flex;
  align-content: space-between;
}

